.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/tasks.xml
/.idea/datasources.xml
/.idea/datasources.ids
/.idea/vcs.xml
/.idea/libraries
/.idea/dictionaries
bin/
gen/
target/
out/
build/
gen-external-apklibs/
*.class
*.swp
*.apk
*.ap_
*.dex
local.properties
Thumbs.db
.DS_Store
/build

